* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #e0e0e0;
    border-bottom: 2px solid #ccc;
}

header h1.claseCheta {
    color: #007acc;
}

.header-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 10px 0;
}

.author-img {
    width: 50px;
    height: auto;
    vertical-align: middle;
    border-radius: 50%;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #007acc;
}

.roles-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.role {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer a {
    color: inherit; /* Hereda el color del elemento padre, que en este caso sería el color del texto en el pie de página */
    text-decoration: none; /* Elimina el subrayado */
}

.retrospectiva-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 20px auto;
    max-width: 800px;
}

.retrospectiva-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Botón de cambio de tema */
button {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007acc;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #005fa3;
}

/* Responsividad */
@media (max-width: 768px) {
    .role {
        width: 90%;
    }

    .header-img {
        width: 90%;
    }
}

@media (min-width: 769px) {
    .role {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .role {
        width: 60%;
    }
}

/* Modo oscuro */
.dark-mode {
    background-color: #191919;
    color: white;
}

.dark-mode header {
    background-color: #333;
    border-bottom: 2px solid #555;
}

.dark-mode .header-img {
    border: 1px solid #555;
}

.dark-mode .role {
    background-color: #333;
    border: 1px solid #555;
}

.dark-mode footer {
    background-color: #222;
    color: #ccc;
}

/*
0-480 celulares pequeños

481-768 telefonos grandes

769-1279 laptops y tablets

1280+ dekstops y monitores

*/





